*{
    box-sizing: border-box;
}
body{
    background-color: blanchedalmond;
    padding: 0px 10px;
}
header{
    border-bottom: 2px solid coral;
}
header h1{
    font-size: 50px;
    color: coral;
    text-align: center;
}
footer{
    border-top: 2px solid coral;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
footer a{
    padding: 10px;
    margin: 5px;
}
footer a img{
    height: 32px;
    width: 32px;
}