*{
    box-sizing: border-box;
}
body{
    background-color: bisque;
}
header img{
    display: block;
    width: 50%;
    margin: 0 auto;
}
footer{
    width: 19%;
    margin: 0 auto;
}
footer h2{
    text-align: center;
    color: orange;
}
a{
    padding: 10px;
    margin: 5px;
    background-color: orange;
    border-radius: 5px;
}
a:hover{
    background-color: white;

}